<tr>
  <td> {{reading2.date}} </td>
  <td> {{reading2.code}} </td>
  <td> {{reading2.temperature}} </td>
  <td> {{reading2.windSpeed}} </td>
  <td> {{reading2.windDirection}} </td>
  <td> {{reading2.pressure}} </td>
</tr>